/* Thème sombre */
.dark-theme {
    background-color: #333;
    color: white;

    a {
        color: white;
    }

    header .me img {
        border: white 2px solid;
    }

    header .nav .nav-contact:hover {
        border: white 2px solid;
    }

    header .nav .nav-links {
        background-color: #333;
    }

    main .home .home-right h2 {
        -webkit-text-stroke: 2px black;
    }
}
    
/* Thème clair (par défaut) */
.light-theme {
    background-color: white;
    color: #333;

    a {
        color: black;
    }

    header .me img {
        border: black 2px solid;
    }

    header .nav .nav-contact:hover {
        border: black 2px solid;
    }

    header .nav .nav-links {
        background-color: white;
    }

    main .home .home-right h2 {
        -webkit-text-stroke: 1px white;
    }
}