.footer-content {
    border-top: 1px solid #ddd;
    margin: 50px 50px 0 50px;

    .btn-about {
        display: flex;
        justify-content: center;
        position: relative;
        margin: auto;
        padding: 30px 0 10px 0;
        transition: all .2s ease;
        width: 300px;
    
        span {
            position: relative;
            font-size: 15px;
            line-height: 18px;
            font-weight: 900;
            letter-spacing: .25em;
            text-transform: uppercase;
            vertical-align: middle;
        }
    
        &:before {
        content: "";
            position: absolute;
            top: 24px;
            left: 30px;
            display: block;
            border-radius: 28px;
            background: #5fb2e4;
            width: 25px;
            height: 25px;
            transition: all .3s ease;
        }
    
        &:hover {
        &:before {
            width: 78%;
            background: #5fb2e4;
        }
        }
    
        &:active {
            transform: scale(.96);
        }
    }
    
    .copyright {
        text-align: center;
        padding: 20px 20px 10px 20px;
    }
}