.slider {
    padding: 0 10px 100px 10px;
    display: flex;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    .slider1 {
        display: flex;
        gap: 10px;
        white-space: nowrap;
        animation-name: slider;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;


        @keyframes slider {
            0% {
                transform: translateX(-100.5%);
              }
              100% {
                transform: translateX(0);
              }
        }
    
    
        .slider-group1, .slider-group2 {
        display: flex;
        flex-direction: column;
        width: 33.33%; 
    
        .image1 img {
            width: 500px;
            height: 200px;
            cursor: pointer;
        }
        .image2 img {
            width: 500px;
            height: 350px;
            cursor: pointer;
        }
        }
    
        .slider-group2 {
        display: flex;
        flex-direction: column-reverse;
        }
    } 
}   